<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<context:property-placeholder location="classpath:app.properties" />
<context:component-scan base-package="com.accolite.idanno"></context:component-scan>
<bean id="p" class="com.accolite.idanno.Point">
	<constructor-arg value="${x}" ></constructor-arg>
	  <constructor-arg value="${y}"></constructor-arg>
</bean>

</beans>	